<div class="container" id="paginaCadastro" *ngIf="controlaConteudo == true">
  <div class="style-cabecalho"></div>

  <div class="div-principal">
    <div class="container-cabecalho">
      <header class="cabecalho">
        <img src="../assets/images/logo-evo.svg" alt="logo-evo">
        <h1>W12</h1>
      </header>
    </div>

    <div class="container-cadastro container-principal">
      <main class="principal">
        <h2 class="titulo-cadastro">Cadastro</h2>
        <form id="formulario">
          <label for="nome" class="label-padrao" >Nome:</label>
          <input type="text" id="nome" class="input-padrao" placeholder="Digite seu nome" required>

          <label for="email" class="label-padrao">E-mail:</label>
          <input type="text" id="email" class="input-padrao" placeholder="EX: carlos@uol.com.br" required>

          <label for="pwd"class="label-padrao" minlength="8" required >Senha:</label>
          <input 
            type="password" 
            id="pwd" 
            name="pwd" 
            class="input-padrao" 
            placeholder="Sua senha precisa ter pelo menos 8 caracteres"
            required>

          <button
          type="submit"
          value="Salvar"
          class="btn"
          (click)="enviarFormulario()"> 
          Salvar  
          </button>
          
        </form>
      </main>
    </div>
  </div>

  <div class="style-cabecalho"></div>
</div>


<div class="container" id="paginaInformações" *ngIf="controlaConteudo == false"> 
  <div class="style-cabecalho"></div>

  <div class="div-principal">
    <div class="container-cabecalho">
      <header class="cabecalho">
        <img src="../assets/images/logo-evo.svg" alt="logo-evo">
        <h1>W12</h1>
      </header>
    </div>
    
    <div class="container-informacoes container-principal">
      <main class="principal">
        <h2 class="titulo-informacoes">Informações</h2>
        
        <h3 class="informacoes-nome-email">Nome</h3>
        <p> {{ dadosFormulario.nome }} </p>

        <h3>E-mail</h3>
        <p> {{ dadosFormulario.email }} </p>

        <button type="submit" 
        value="voltar" 
        class="btn"
        (click)="botaoVoltar()">
            Voltar
        </button>

      </main>
    </div>
  </div>
 
  <div class="style-cabecalho"></div>
</div>